*{
    margin: 0;
    padding: 0;
}

body{
    
    justify-content: center;
    align-items: center;
}

.container{
    align-items: center;
    background-color: #444;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.form {
    height: auto;
    width: auto;
    background-color: #333;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin-bottom: 0.5rem;
}
  
.form-field {
    margin: 1rem 0;
    display: flex;
}
.label {
    flex-basis: 20%;
}
.input {
    flex-basis: 80%;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem;
    width: 120px;
}

@media (min-width: 320px) and (max-width: 480px) {
    
    .form {
        height: auto;
        width: 320px;
        background-color: #333;
        color: white;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        border-radius: 0.6rem;
        margin-bottom: 0.5rem;
    }    
    .label {
        flex-basis: 10%;
        font-size: 10px;
    }
    .input {
        flex-basis: 60%;
        border: none;
        border-radius: 0.6rem;
        padding: 0.15rem;
        width: 90px;
    }     
}

a{
    color: rgb(0, 246, 246);
    text-decoration: none;
    font-size: 1.20rem;
}

.text{
    color: rgb(12, 220, 33);
    font-size: 2.2rem;
    
}

button {
    padding: 5px;
    bottom: none;
    border-radius: 5px;
    background-color: limegreen;
    color: #fff;
    margin-right: 10px;
    font-size: 1.20rem;
    width: 100px;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: rgb(250, 183, 39);
}